<% %>
<div class="header">
    <h1 class="headline"> Welcome to Irene's Message Board</h1>
    <br>
    <p> This is a little node coding challenge to advance my coding experience. Please feel free to leave me a message</p>
    <br>
    <p> <a href="/"> <i class="fas fa-home"></i> Home </a></p>
    <br>
    <br>
</div>