<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message is saved!</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/edit-solid.svg">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a1e74affc8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="web-container">
        <%- include ('./partials/header') %>
        <%-include ('./partials/write') %>
        
        <h1> Message is sent! </h1>
        <h1>Thank you! <%= username %></h1>
        <p> <a href="/"> Back</a> </p>
        <br>
</body>
</html>